.MenuLateral
    padding-top: 2rem
    width: 3rem
    min-height: 90vh
    border-right: 5px solid $gris-bordes
    display: flex
    flex-direction: column
    align-items: end
    gap: 2rem


.MenuLateral:hover
    width: 13rem

.Boton
    width: 12rem
    height: 3rem
    border: 0px
    background-color: #E0E0E0
    border-top-left-radius: 1em
    border-bottom-left-radius: 1em
    cursor: pointer
    


.Boton:hover 
    background-color: $verde-primario